@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application was developed to demonstrate how to write tests by Selenium C#</p>
</div>
